
<nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <span class="icon">
              <i class="fas fa-home"></i>
          </span>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item has-text-primary" routerLink ="/" routerLinkActive="has-background-white" [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
    
          <a class="navbar-item has-text-primary" routerLink ="/createEvent" routerLinkActive="has-background-white">
            Create Event
          </a>
          <a class="navbar-item has-text-primary" data-show="quickview" data-target="quickviewDefault">
            <p *ngIf="this.router.url=='/edit'; else viewEventsNav">Edit Event</p>
            <ng-template #viewEventsNav>
                <p>View My Events</p>
            </ng-template>
                
          </a>
  
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-primary">
              About App
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" routerLink ="/schedule">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
  
          <div *ngIf="!loggedIn; else logout">
              <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" class="navbar-item">
  
                  <div class="navbar-item">
                      <p class="control has-icons-left">
                              <input class="input is-rounded has-text-primary" type="text" name = "username" placeholder="username" ngModel required email>
                      <span class="icon is-small is-left">
                          <i class="fas fa-at"></i>
                      </span>
                      </p>   
                      <!-- <input class="input is-rounded" type="text" name = "emailid" placeholder="Email" ngModel required email> -->
                  </div>
  
                  <div class="navbar-item">
                                  <p class="control has-icons-left">
                                          <input class="input is-rounded has-text-primary" type="password" name = "password" placeholder="Password" ngModel required>
                                  <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                  </span>
                                  </p>   
                          <!-- <input class="input is-rounded" type="password" name = "passwd" placeholder="Password" ngModel required> -->
                  </div>
  
                  <div class="navbar-item">
                    <div class="buttons">
                      <!-- <a class="button is-primary">
                      <strong>Sign up</strong>
                      </a> -->
                      <button class="button is-primary is-rounded " type="submit" value = "submit" [disabled]="!login.valid">
                          <strong>Login</strong>
                      </button>
                      <a class="button is-primary is-rounded" routerLink ="/register">
                          <strong>Sign up</strong>
                      </a>
                    </div>
                  </div>
              </form>
          </div>
  
          <ng-template #logout>
              <div class="navbar-item">
                  <button type="button" class="button is-primary is-rounded">
                      <strong>Logout</strong>
                  </button>
              </div>
          </ng-template>
  
        </div>
      </div>
</nav>


<!--HERO BANNER-->
<section class="hero is-small is-primary is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title is-1 has-text-black">
            Festival App
        </h1>
        </div>
    </div>
</section>

<div type="button" class="button is-primary is-rounded" (click)="onTestClick()">
    <strong>Testing(navbar.html) {{this.router.url}}</strong>
</div>


<!--The below is for the side panel that opens up when you click view my events-->
<div class="container">
    <div id="quickviewDefault" class="quickview">
        <header class="quickview-header">
          <p *ngIf="this.router.url=='/edit'; else viewEventsTitle" class="title">Edit Event</p>
          <ng-template #viewEventsTitle>
              <p class="title">Your Events</p>
          </ng-template>
         
          <span class="delete" data-dismiss="quickview"></span>
        </header>
      
        <div class="quickview-body">
          <div class="quickview-block">
            <app-manager-dashboard *ngIf="this.router.url=='/edit'; else viewEvents"></app-manager-dashboard>
           
          </div>
      </div>
      
        <!-- <footer class="quickview-footer">
      
        </footer> -->
    </div>
      

    <ng-template #viewEvents>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            
            <tr>
              <th>Event Name</th>
              <th>Event Role</th>
              <th>Start/End Times</th>
            </tr>
        
          </thead>
          <tbody>
            <tr #selectedRow *ngFor="let assignedEvent of this.assignedEvents" (click)="onSelectRow(selectedRow.children)">
                
              <td >{{assignedEvent.name}}</td>
              <td >{{assignedEvent.role}}</td>
              <td >{{assignedEvent.start +' - '+ assignedEvent.end}}</td>
            
            </tr>
          
              
          </tbody>
        </table>
    </ng-template>
      <!-- <button class="button is-primary" data-show="quickview" data-target="quickviewDefault">View My Events</button> -->
</div>